USE [QLDSV]
GO
/****** Object:  User [cntt]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [cntt] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[GV01]
GO
/****** Object:  User [GV01]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [GV01] FOR LOGIN [cntt] WITH DEFAULT_SCHEMA=[GV01]
GO
/****** Object:  User [GV02]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [GV02] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV05]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [GV05] FOR LOGIN [pgv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV07      ]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [GV07      ] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[GV07      ]
GO
/****** Object:  User [GV09      ]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [GV09      ] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[GV09      ]
GO
/****** Object:  User [HTKN]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE ROLE [KHOA]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [PKETOAN]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE ROLE [PKETOAN]
GO
/****** Object:  DatabaseRole [USER]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE ROLE [USER]
GO
ALTER ROLE [KHOA] ADD MEMBER [GV01]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV01]
GO
ALTER ROLE [USER] ADD MEMBER [GV02]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV02]
GO
ALTER ROLE [PGV] ADD MEMBER [GV05]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [GV05]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [GV05]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GV05]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [GV05]
GO
ALTER ROLE [PKETOAN] ADD MEMBER [GV07      ]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV07      ]
GO
ALTER ROLE [KHOA] ADD MEMBER [GV09      ]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV09      ]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [KHOA]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PGV]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [PGV]
GO
ALTER ROLE [db_owner] ADD MEMBER [PKETOAN]
GO
ALTER ROLE [db_owner] ADD MEMBER [USER]
GO
/****** Object:  Schema [GV01]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE SCHEMA [GV01]
GO
/****** Object:  Schema [GV07      ]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE SCHEMA [GV07      ]
GO
/****** Object:  Schema [GV09      ]    Script Date: 12/23/2020 7:06:58 PM ******/
CREATE SCHEMA [GV09      ]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B8CC71A114E148EEB52AB56F4E3FCAD3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D8DB2DBF1A4C4ACF8C3B71896FEA192D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F294EF4641BE4D6A88717C7521923F8C]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_64BB20C6FBDE4525993B85B4E15D1221]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CA02D4450AC3474F83672F15E7E9D54F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_41A3BB89542F45B08F973E444FD344C2]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'09THA101    ', N'CTDL  ', 1, 10, N'890eb3f0-e044-eb11-a430-80000bc8ea9c')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'09THA101    ', N'CTDL  ', 2, 7, N'837d73fb-e044-eb11-a430-80000bc8ea9c')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'17DCCN059   ', N'CTDL  ', 1, 4, N'8a0eb3f0-e044-eb11-a430-80000bc8ea9c')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT', N'f741b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT', N'f841b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV05      ', N'TRAN DINH', N'TRONG', N'CNTT', N'06f52b16-bb33-eb11-a423-f01faf5aed44')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'CNTT', N'Công nghệ thông tin', N'ed41b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'CQCN01  ', N'Lớp công nghệ 1', N'CNTT', N'fc41b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'DHCQ2018', N'ĐẠI HỌC CHÍNH QUY KHÓA 2018', N'CNTT', N'fd41b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'DHCQ2020', N'ĐẠI HỌC CHÍNH QUY KHÓA 2020', N'CNTT', N'0a0f4fc3-403a-eb11-a426-f01faf5aed44')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL  ', N'Co so du lieu', N'f041b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDLPT', N'Co so du lieu phan tan', N'f141b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL  ', N'Cấu trúc dữ liệu', N'ef41b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'09THA101    ', N'Le Thi', N'Van', N'DHCQ2018', 1, CAST(N'1976-06-06 00:00:00.000' AS DateTime), N'Hà nội', N'Ngô Quyền', N' ', 0, N'0242b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'09THA102    ', N'Trần Thi', N'Hoa', N'DHCQ2020', 0, CAST(N'1976-07-07 00:00:00.000' AS DateTime), N'Sài gòn', N'222 Lý Thái Tổ', N' ', 0, N'0342b5de-2c33-eb11-a423-f01faf5aed44')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'09THA103    ', N'Nguyễn Thị Yến', N'Lan', N'CQCN01  ', 0, CAST(N'1976-08-08 00:00:00.000' AS DateTime), N'Khánh Hòa', N'333 HHT, BT', NULL, 0, N'0442b5de-2c33-eb11-a423-f01faf5aed44')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOP]    Script Date: 12/23/2020 7:06:58 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MONHOC]    Script Date: 12/23/2020 7:06:58 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH NOCHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK NOT FOR REPLICATION (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK NOT FOR REPLICATION (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_BangHP]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BangHP]
@MASV CHAR(12)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM dbo.HOCPHI WHERE MASV = @MASV)
		BEGIN
			SELECT HP.NIENKHOA,HP.HOCKY,HOCPHI,TIENDADONG,SOTIENDONG = '' FROM
			(SELECT SUM(SOTIENDONG) AS TIENDADONG,NIENKHOA,HOCKY,MASV FROM dbo.CT_DONGHOCPHI CT WHERE MASV = @MASV  GROUP BY CT.MASV,CT.NIENKHOA,CT.HOCKY) AS CTHP
			FULL OUTER JOIN dbo.HOCPHI HP ON HP.MASV = @MASV AND HP.NIENKHOA = CTHP.NIENKHOA AND HP.HOCKY = CTHP.HOCKY	AND HP.MASV = CTHP.MASV
		END
	ELSE
		BEGIN
			RAISERROR('Sinh viên chưa có thông tin đóng học phí',16,1)
			RETURN 0
		END
			    
END


GO
/****** Object:  StoredProcedure [dbo].[SP_BangNhapDiem]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BangNhapDiem]
@MALOP NCHAR(8),@MAMH NCHAR(5),@LANTHI SMALLINT
AS
BEGIN
	IF EXISTS (SELECT MASV FROM dbo.SINHVIEN WHERE MALOP = @MALOP)
		BEGIN
			IF (@LANTHI = 1)
				BEGIN
					IF EXISTS (SELECT MASV FROM dbo.DIEM WHERE MASV IN (SELECT MASV FROM dbo.SINHVIEN WHERE MALOP=@MALOP) AND LAN = 1 AND MAMH=@MAMH)
						BEGIN	
							
							SELECT d.MASV,sv.HO + ' ' +sv.TEN AS HOTEN,d.DIEM FROM DIEM d,SINHVIEN sv
							WHERE d.MASV=sv.MASV AND d.LAN=@LANTHI AND d.MAMH=@MAMH AND sv.NGHIHOC='false' AND sv.MALOP=@MALOP
							ORDER BY d.MASV		
						END
					ELSE
						BEGIN
							SELECT MASV,HO + ' ' +TEN AS HOTEN, DIEM = 0 FROM SINHVIEN WHERE MALOP=@MALOP AND NGHIHOC='false'
						END
				END
			IF (@LANTHI = 2)
				BEGIN
					IF NOT EXISTS(SELECT MASV FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=1 AND DIEM.MAMH=@MAMH)
						 BEGIN
								RAISERROR('Hãy nhập điểm thi lần 1 trước.',16,1)
								RETURN;
						 END
					ELSE IF EXISTS(SELECT MASV FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=2 AND DIEM.MAMH=@MAMH)
						 BEGIN
								
								SELECT d.MASV,HO + ' ' +TEN AS HOTEN,DIEM FROM DIEM d,SINHVIEN sv
								WHERE d.MASV=sv.MASV AND d.LAN=@LANTHI AND d.MAMH=@MAMH AND sv.NGHIHOC='false' AND sv.MALOP=@MALOP
								ORDER BY d.MASV
						 END
					ELSE
						 BEGIN
								SELECT MASV,HO + ' ' +TEN AS HOTEN, DIEM = 0 FROM  SINHVIEN WHERE MALOP=@MALOP AND NGHIHOC='false' AND MASV IN(SELECT MASV FROM DIEM WHERE MAMH = @MAMH AND LAN = 1 AND DIEM < 5) 
						 END
				END 
		END
	ELSE 
		BEGIN
			RAISERROR('Lớp hiện tại chưa có sinh viên theo học.',16,1)
			RETURN;
		END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKID] @Code NVARCHAR(15),
@Type NVARCHAR(15)
AS
BEGIN
	-- LOP
	IF(@Type = 'MALOP')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	--MON Hoc
	IF(@Type = 'MAMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE MAMH = @Code)
		RETURN 1;
	END
	
	


		IF(@Type = 'MASV')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	RETURN 0	--Không bị trùng được thêm
END





GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKIDHOCPHIBYMASV]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKIDHOCPHIBYMASV] @masv NVARCHAR(10)
AS
BEGIN
  
  IF EXISTS (SELECT * FROM LINK1.QLDSV.dbo.HOCPHI WHERE MASV = @masv )
    RETURN 1 -- mã tồn tại
  RETURN 0  -- mã không tồn tại.
END




GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKNAME]
@Name NVARCHAR(50),
@Type NVARCHAR(15)
AS
BEGIN
	--Kiểm tra Table lop của server hiện tại
	IF(@Type = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name)
			RETURN 1; -- @name bị trùng  ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--@name bị trùng ở phân mãnh  khác
	END

	IF(@Type = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name)
		RETURN 1;
	END
	
	RETURN 0	--Không bị trùng ,được thêm
END




GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENLOP]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENLOP] @MASV NVARCHAR(12),-- de update status thanh nghi hoc
@MASVMOI NVARCHAR(12), -- de insert vao khoa moi
@MALOPCHUYENDEN NVARCHAR(12) -- ma lop moi se chuyen den
AS
BEGIN

	SET XACT_ABORT ON
	BEGIN TRY
		BEGIN DISTRIBUTED TRANSACTION
		
		INSERT INTO LINK0.QLDSV.dbo.SINHVIEN (MASV,HO,TEN,MALOP,PHAI,NGAYSINH,NOISINH,DIACHI,GHICHU,NGHIHOC)
		SELECT @MASVMOI AS MASV,HO,TEN,@MALOPCHUYENDEN AS MALOP,PHAI,NGAYSINH,NOISINH,DIACHI,GHICHU,0 FROM dbo.SINHVIEN WHERE MASV = @MASV

		UPDATE dbo.SINHVIEN SET NGHIHOC=1 WHERE MASV = @MASV;-- Cap nhap trang thai nghi hoc cua sinh vien o site hien tai

		IF(@@TRANCOUNT > 0)
		BEGIN
			PRINT 'Commit Success'
			COMMIT TRANSACTION
			RETURN 0	--Thành công
		END
	END TRY

	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
			PRINT 'Commit Fail'
			RETURN -1;
		END
	END CATCH
END



GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   ROLENAME=NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_R_BDMH]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_R_BDMH] @MALOP NCHAR(8),
@MAMH NCHAR(6),
@LAN  INT
AS
BEGIN
	SELECT d.MASV,HO+' '+TEN AS HOTEN, d.DIEM
	FROM (SELECT MASV,DIEM FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=@LAN AND DIEM.MAMH=@MAMH) d,			SINHVIEN sv
	WHERE d.MASV=sv.MASV AND sv.NGHIHOC='false'
	ORDER BY MASV ASC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDMH]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_BDMH] (@MALOP NVARCHAR(15), @MAMONHOC NVARCHAR(15),@LAN INT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP)
    BEGIN
      SELECT SV.MASV ,SV.HO +' '+ SV.TEN AS HOTEN INTO #A FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 'false';
      SELECT D.MASV, D.MAMH, D.LAN, D.DIEM  INTO #B FROM dbo.DIEM AS D WHERE D.MAMH = @MAMONHOC AND D.LAN = @LAN;
      SELECT * FROM #A INNER JOIN #B ON #B.MASV = #A.MASV ORDER BY HOTEN
    END
  ELSE RETURN 1;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSSV]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DSSV] (@MALOP CHAR(15))
AS
BEGIN
	SELECT SV.HO AS HO, SV.TEN AS TEN,
	CASE
		WHEN SV.PHAI = 1 THEN 'Nam'
		WHEN SV.PHAI = 0 THEN 'Nu'
	END AS PHAI,
	 CONVERT(VARCHAR(12),SV.NGAYSINH,106) AS NGAYSINH, SV.NOISINH, SV.DIACHI FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC='false';
END

--CONVERT CHUYỂN SANG MỘT KIỂU DỮ LIỆU MONG MUỐN NHƯNG THEO MỘT ĐỊNH DẠNG
--CONVERT(kieudulieu(do_dai), bieuthuc, dinh_dang)
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAOLOGIN] @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS

	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals --name:duy nhất trong server
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals --name:duy nhất trong cơ sở dữ liệu
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV' --tạo thông tin đăng nhập
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME --tạo thông tin username
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME --xóa thông tin đăng nhập
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG


  --Xóa login SP_DROPLOGIN @USERNAME
  --Xóa user SP_DROPUSER @LOGIN

GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDiem]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemDiem]
@MASV CHAR(12),@MAMH CHAR(6),@LAN SMALLINT,@DIEM FLOAT
AS
BEGIN
	IF EXISTS(SELECT MASV FROM dbo.DIEM WHERE MAMH = @MAMH AND LAN =@LAN AND MASV = @MASV)
		BEGIN
			UPDATE DIEM SET DIEM = @DIEM WHERE MAMH = @MAMH AND LAN =@LAN AND MASV = @MASV
			--RAISERROR('SỬA THÀNH CÔNG'
			RETURN 0
		END
	ELSE 
		BEGIN
			INSERT INTO dbo.DIEM(MASV,MAMH,LAN,DIEM)			       
			VALUES (@MASV,@MAMH,@LAN,@DIEM)
			RETURN 1
		END
	RETURN -1;
END


GO
/****** Object:  StoredProcedure [dbo].[SPRP_BangDiemThi]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPRP_BangDiemThi]
@MALOP CHAR(8)
AS
BEGIN
	--IF EXISTS(SELECT 1 FROM dbo.SINHVIEN WHERE MALOP = @MALOP)
		SELECT MASV,HO + ' ' + TEN AS HOTEN,DIEM = '' FROM dbo.SINHVIEN SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 'false' ORDER BY SV.MASV
	--ELSE RAISERROR('Lớp chưa có sinh viên theo học',16,1) 
END


GO
/****** Object:  StoredProcedure [dbo].[SPRP_BDTK]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPRP_BDTK]
@MALOP CHAR(8)
AS
BEGIN
	SELECT D.MASV + '_' + SV.HO + ' ' + SV.TEN AS MAHOTEN,MH.TENMH,D.DIEM FROM dbo.SINHVIEN SV,(SELECT MASV,MAMH,MAX(DIEM) AS DIEM FROM DIEM GROUP BY MASV,MAMH) D,dbo.MONHOC MH
	WHERE SV.MALOP = @MALOP AND D.MASV = SV.MASV AND SV.NGHIHOC = 'false' AND D.MAMH = MH.MAMH 
END


GO
/****** Object:  StoredProcedure [dbo].[SPRP_PhieuDiem]    Script Date: 12/23/2020 7:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPRP_PhieuDiem] @MASV CHAR(12)
AS
BEGIN
	SELECT  TENMH,D.DIEM AS DIEM 
	FROM dbo.MONHOC MH,(SELECT MASV,MAMH,MAX(DIEM) AS DIEM FROM DIEM WHERE MASV = @MASV GROUP BY MASV,MAMH) AS D
	WHERE D.MAMH = MH.MAMH ORDER BY MH.TENMH ASC
END

GO
